@tailwind base;


/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(213, 217, 218);
    border-radius: 14px;
  }

@tailwind components;
@tailwind utilities;
